@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #082c4e;
    --yellow:#ffcc33;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color:var(--primary-color);
}

hr {
    margin: 2rem 0rem;
}
.blob-image{
    width:50%;
    height:50%;
    position:relative;
    z-index:-5;
    margin-left:-20rem;
}
/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0rem;
    color:#ffcc33;
    
}
.link::after{
    text-decoration: var(--yellow);
}

.link-primary {
    background-color:var(--yellow);
    border-radius: 0.5rem;
    color: var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    text-align:center;
}

.link-secondary {
    color: var(--yellow);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.list-non-bullet {
    list-style: none;
    /*padding-inline-start: 0px;*/
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    border-style:hidden;
    border-color:#ffcc33;
}
hr{
    color:#ffcc33;
}
.navigation {
    background-color: var(--primary-color);
    color:var(--yellow);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size:30px;
}

.nav-brand a {
    text-decoration:none;
    color: inherit;
    border-style:solid;
    border-color:#ffcc33;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color:var(--yellow);
}

.navigation .link-active {
    font-weight: bold;
}

header{
    display:flex;
    flex-wrap:wrap;
}

.hero {
    padding: 1rem;
    padding-top: 2rem;
   
}

.hero .hero-image {
    max-width:30%;
    flex:30%;
    padding:1px;
    max-height:50%;
    margin-left:2.5rem;
}

.hero .hero-heading {
    text-align: right;
    flex: 40%;
    padding: 1px;
    font-size: 6.5vw;
    margin-right: 1rem;
    background: #00b4db;
    background: -webkit-linear-gradient(to left, #ffcc33, #ffb347);
    /* background: linear-gradient(to left, #ffcc33, #ffb347); */
    color: #00B4DB;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 1px #ffcc33;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
}
section{
    display:block;
}
.section h1 {
    text-align: center;
}
.section p{
    text-align:center;
    color:var(--yellow);
    margin:auto;
    max-width:600px;
    font-size: 30px;
}

.blob-blogs{
    color:var(--primary-color);
}

/* .topic-desc{
    color: var(--primary-color);
    /* background: border-box; */
    /* border-color: #ffcc33; */
    /* background-color: #ffcc33;
    padding: 1rem; */
    /* background: round; */
    /* border-bottom-left-radius: 0.5rem; */
    /* border-radius: 0.5rem;
    text-align:center;
    margin: auto; */
/* } */ 

.container h1{
    color:var(--yellow);
    text-shadow:1px 1px #00B4DB;
}
.footer {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.btn-container{
   margin-top:1rem;
   margin-left:48%;
}
.btn{
    background-color:var(--yellow);
    border: none;
    color:var(--primary-color);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    font-weight:bolder;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    color:var(--yellow);

}

.footer ul {
    padding-inline-start: 0px;
} */


.showcase-list {
    padding: 2rem;
}


.showcase-blog {
    padding-bottom: 6rem;
} 

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }
.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .hero-heading-projects{
      margin:auto;
      font-size:6.5vw;
      background: #00b4db;
    background: -webkit-linear-gradient(to left, #ffcc33, #ffb347);
    /* background: linear-gradient(to left, #ffcc33, #ffb347); */
    color: #00B4DB;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 3px 1px #ffcc33;
  }
  p{
      color:#ffcc33;
  }
  article{
      color:#ffcc33;
      font-style:bold;
  }
  small{
      font-style:bold;
  }
  a{
      color:#ffcc33;
  }