@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Paytone+One&display=swap');
:root {
    --primary-color: #30CFD0 ;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:black;
}

hr {
    margin: 2rem 0rem;
}
.blob-image{
    width:50%;
    height:50%;
    position:relative;
    z-index:-5;
    margin-left:-20rem;
}


.margin-md {
    margin: 2rem;
}


.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    margin-bottom:2rem;
}


.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
    
}
.link::after{
    text-decoration: var(--yellow);
}

.link-primary {
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    /* margin: 1rem 1rem 1rem 0rem; */
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    /* margin: 1rem 1rem 1rem 1rem; */
    margin: auto;
}

.list-non-bullet {
    list-style: none;
    /*padding-inline-start: 0px;*/
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    border-style:hidden;
    border-color:#ffcc33;
}
hr{
    color:#ffcc33;
}
.navigation {
    color:var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size:30px;
}

.nav-brand a {
    text-decoration:none;
    color: inherit;
    border-style:solid;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color:var(--yellow);
}

.navigation .link-active {
    font-weight: bold;
}

header{
    display:block;
}

.hero {
    padding: 1rem;
    padding-top: 1rem;
   margin-top:-3rem;
}

.hero .hero-image {
    max-width:80%;
    width:350px;
    display:block;
    margin:auto;
    margin-top:-2rem;
}

.hero .hero-heading {
    text-align:center;
    padding-top:1rem;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size:8vw;
}


.section {
    padding: 2rem;
}
section{
    display:block;
}
.section h1 {
    text-align: center;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5vw;
}
.section p{
    text-align: left;
    color: var(--primary-color);
    margin: auto;
    max-width: 600px;
    font-size: 25px;
}

.blob-blogs{
    color:var(--primary-color);
}

/* .topic-desc{
    color: var(--primary-color);
    /* background: border-box; */
    /* border-color: #ffcc33; */
    /* background-color: #ffcc33;
    padding: 1rem; */
    /* background: round; */
    /* border-bottom-left-radius: 0.5rem; */
    /* border-radius: 0.5rem;
    text-align:center;
    margin: auto; */
/* } */ 

.container h1{
    color:var(--primary-color);
    /*text-shadow:0px 10px 10px #234D3C;*/
}

.btn-container{
   margin-top:1rem;
   margin-left:48%;
}
.btn{
    background-color:var(--yellow);
    border: none;
    color:var(--primary-color);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    font-weight:bolder;
}

.showcase-list {
    padding: 2rem;
}


.showcase-blog {
    padding-bottom: 6rem;
} 

  p{
      color:#ffcc33;
  }
  .project-links{
      display:flex;
  }
  article{
    color: var(--primary-color);
    font-style: bold;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #30CFD0, #330867 );
    background-color:#0b0a08;
  }
  .hero-heading-projects{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6vw;
    text-align:center;
  }
  small{
      font-style:bold;
  }
  a{
      color:blue;
  }
  .topic-desc{
      color:#fff;
  }
  .footer {
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
  .social-link-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 230px;
    margin: auto;
    padding-top: 10px;
}

